<div>
    <h3>Image Details</h3>
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <td><strong>Thumb</strong></td>
                <td><strong>Tags</strong></td>
                <td><strong>Type</strong></td>
                <td><strong>Likes</strong></td>
                <td><strong>Downloads</strong></td>
                <td ng-show="!$ctrl.obj.individual"><strong>Fullsize</strong></td> <!--hide if we are on image details page -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img class="img-responsive max-image-height" src="{{ $ctrl.obj.previewURL }}" alt=""></td>
                <td>{{ $ctrl.obj.tags }}</td>
                <td>{{ $ctrl.obj.type }}</td>
                <td>{{ $ctrl.obj.likes }}</td>
                <td>{{ $ctrl.obj.downloads }}</td>
                <td ng-show="!$ctrl.obj.individual"><a href="/postDetails/{{ $ctrl.obj.id }}">Click Here</a></td>  <!--hide if we are on image details page -->
            </tr>
        </tbody>
    </table>
</div>